.recommended-games h3 {
    text-align: start;
    color: var(--color-accent-400);
    margin-left: 1rem; 
}

.recommended-games .principal-container {
    display: flex;
    align-items: center;
    position: relative;
}

.recommended-games .principal-container .left-arrow,
.recommended-games .principal-container .right-arrow {
    position: absolute;
    border: none;
    background:rgb(0, 0, 0,0.3) ;
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: white;
    z-index: 50;
    cursor: pointer;
    transition: 2s ease all;
    user-select: none; /*evita que se seleccione el texto al hacer click*/
}

.recommended-games .principal-container .left-arrow{
    left: 0;
}

.recommended-games .principal-container .right-arrow{
    right: 0;
}

.recommended-games .carousel-container {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative; 
}

.recommended-games .carousel-container .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.recommended-games .carousel-container .carousel .game-card {
    /* 100% / 6 = 16.666...% */
    /* Restamos 20px (10px de margen izquierdo + 10px de margen derecho) */
    min-width: calc(16.666% - 20px); 
    transition: .3s ease-in all;
    box-shadow:5xp 5px 10px rgba(0,0,0,.5);
    margin: 10px;
    cursor: pointer;
     opacity: 0;
    transform: translateY(20px);
    
    /* IMPORTANTE: Transición de CSS para la animación */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; 
}

.recommended-games .carousel-container .carousel .game-card:hover {
    transform: scale(1.1);
    transform-origin: center;
    transition: .5s ease-in-out;
}

.recommended-games .carousel-container .carousel .game-card img {
    width: 100%;
    vertical-align: top; /* Removes extra space below inline images */
}

.hidden {
    display: none;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.game-card.visible-animated {
    animation: fadeInSlideUp .5s forwards;
    opacity: 1; /* Sobrescribe la opacidad base */
    transform: scale(1);  /* Sobrescribe la traslación base */
}