/*animacion parallaxx*/
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        
        transform: translateX(-50%);
    }
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%; 
    /*ocupa el 50% del 200 pero el 50 es el ancho total del contenedor*/
    background-size: 50% 100%;
    /*al repetirse, se obtienen 2 imagenes iguales pegadas una al lado de la otra*/
    background-repeat: repeat-x;
    animation: scroll linear infinite;
    /* Alinea las imágenes abajo */
    background-position: center bottom; 
}

/*capas del parallax con diferentes velocidades y profundidades */

#fondo {
    background-image: url('../assets/img/flappy/9.png');
    z-index: 1;
    animation-duration: 100s; 
}
#rayos {
    background-image: url('../assets/img/flappy/2.png');
    z-index: 2;
    animation-duration: 80s;
    opacity: 0.7; 
}
#arboles-3 {
    background-image: url('../assets/img/flappy/8.png');
    z-index: 3;
    animation-duration: 60s;
}
#arboles-2 {
    background-image: url('../assets/img/flappy/7.png');
    z-index: 4;
    animation-duration: 40s;
}
#sombras {
    background-image: url('../assets/img/flappy/5.png');
    z-index: 5;
    animation-duration: 30s;
}
#arboles {
    background-image: url('../assets/img/flappy/6.png');
    z-index: 6;
    animation-duration: 20s;
}
#arbustos-atras {
    background-image: url('../assets/img/flappy/4.png');
    z-index: 7;
    animation-duration: 12s;
}
#suelo {
    background-image: url('../assets/img/flappy/3.png');
    z-index: 8;
    animation-duration: 8s; 
}
#arbusto {
    background-image: url('../assets/img/flappy/1.png');
    z-index: 9;
    animation-duration: 7s; 
}



#pajaro {
    position: absolute;
    top: 250px;
    left: 100px;
    
    /*este es el tamanio que va a tener cada frame del spritesheet */
    width: 256px; 
    height: 192px; 
    
    background-image: url('../assets/img/flappy/Flight.png');
    background-repeat: no-repeat;
    
    /* escalamos la imagen para que se vea ams grande el mosntruo */
    /* ancho Total: (8 frames * 128px) * 2 = 2048px */
    /* alto Total: (1 fila * 96px) * 2 = 192px */
    background-size: 2048px 192px;
    
    /* frame donde comienza la img */
    background-position: 0px 0px; 
    z-index: 20; 
    image-rendering: pixelated;
    
    animation: aleteo 0.8s steps(8) infinite;
}

@keyframes aleteo {
    
    100% {
        background-position-x: -2048px;
    }
}


/* troncos*/

@keyframes mover-tronco {
    0% {
        /* arranca fuera de la pantalla */
        transform: translateX(1000px); 
    }
    100% {
        /* desaparece fuera de esta*/
        transform: translateX(-100px); 
    }
}

/* contenedor de los troncos */
.tronco-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; 
    height: 100%; 
    animation: mover-tronco 8s linear ;
    z-index: 15; 
}

.tronco {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-size: auto; 
    background-repeat: repeat; 
}


.tronco-arriba {
    top: 0;
    background-image: url('../assets/img/flappy/Wood_12-512x512.png');
}


.tronco-abajo {
    bottom: 0;
    background-image: url('../assets/img/flappy/Wood_12-512x512.png');
}

.oculto {
    display: none ; 
}



/* contenedor del menu game over */
#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75); 
    border: 4px solid #FFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: 20px 40px;
    text-align: center;
    z-index: 100; 
}


#game-over h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    color: white;
    text-shadow: 
        -3px -3px 0 #000, 3px -3px 0 #000,
        -3px 3px 0 #000, 3px 3px 0 #000;
    margin: 0 0 10px 0; 
    padding: 0;
}

#game-over p {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #FFD700; 
    margin: 15px 0 25px 0; 
    text-shadow: -2px 2px 0 #000;
}

.game-over-buttons {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.game-over-buttons button {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: #FFF;
    text-shadow: -1px 1px 0 #000;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.game-over-buttons button:hover {
    transform: scale(1.05); 
    filter: brightness(1.1);
}

#btn-restart {
    background-color: #27ae60; 
}

#btn-main-menu {
    background-color: #2980b9; 
}

#flappy-game-screen.pausado .parallax-layer,
#flappy-game-screen.pausado .tronco-container {
    animation-play-state: paused;
}

#flappy-game-screen.pausado #pajaro {
    animation-play-state: paused;
}


/*puntaje del juego*/

#puntaje {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    
    z-index: 90; 
}



/* animacion de muerte del monstruo */

@keyframes explotar {
    0% { background-position-x: 0; }
    25% { background-position-x: -256px; } 
    50% { background-position-x: -512px; } 
    75% { background-position-x: -768px; } 
    100% { background-position-x: -768px; } 
}

#pajaro.pajaro-muerte {
    background-image: url('../assets/img/flappy/Death.png'); 
    background-size: 1024px 192px; 
    animation: explotar 0.5s steps(1) forwards; 
    animation-play-state: running; 
    animation-name: explotar; 
}

#flappy-game-screen.pausado #pajaro {
    animation-play-state: paused; 
}


/* animacion de las llaves(bonus) */
@keyframes rotate-key {
    100% {
        /* 24 frames * 32px = 768px */
        background-position-x: -768px;
    }
}

.bonus-key {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('../assets/img/flappy/key_32x32_24f.png'); 
    background-size: 768px 32px;
    animation: rotate-key 1s steps(24) infinite;
    z-index: 16; 
    image-rendering: pixelated; 
}


/* animacion del murcielago de fondo */

@keyframes mover-murcielago {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1256px); 
    }
}

.murcielago-enemigo {
    position: absolute;
    left: -256px; 
    /* reutilizamos el tamanio y sprite del personajje */
    width: 256px; 
    height: 192px; 
    background-image: url('../assets/img/flappy/Flight.png');
    background-size: 2048px 192px; 
    z-index: 2; 
    image-rendering: pixelated;
    animation: 
        aleteo 0.8s steps(8) infinite, 
        mover-murcielago 7s linear; 
}


/* animacion del esqueleto que camina*/

@keyframes walk-skeleton {
    100% {
        background-position-x: -512px; 
    }
}

@keyframes move-skeleton {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1128px); 
    }
}


.esqueleto-caminando {
    position: absolute;
    left: -128px; 
    bottom: 0px; 
    width: 128px; 
    height: 128px;
    background-image: url('../assets/img/flappy/Walk.png');
    background-repeat: no-repeat;
    background-size: 512px 128px; 
    z-index: 8; 
    image-rendering: pixelated;
    animation: 
        walk-skeleton 0.6s steps(4) infinite, 
        move-skeleton 8s linear; 
}

/* animacion del goblin que corre*/
@keyframes walk-goblin {
    100% {
        background-position-x: -1200px; 
    }
}


@keyframes move-goblin {
    0% {
        transform: translateX(0px);
    }
    100% {
        /* 1000px (pantalla) + 150px (ancho sprite) = 1150px */
        transform: translateX(1150px); 
    }
}


.goblin-atacante {
    position: absolute;
    left: -150px; 
    bottom: 10px; 
    z-index: 8; 
    width: 150px; 
    height: 150px;
    
    background-image: url('../assets/img/flappy/Run.png');
    background-repeat: no-repeat; 
    background-size: 1200px 150px; 
    image-rendering: pixelated;
    animation: 
        walk-goblin 0.8s steps(8) infinite, 
        move-goblin 9s linear; 
}


/* --- ESTILOS DEL MENÚ PRINCIPAL --- */
#main-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 200; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    animation-play-state: running !important; 
}

#main-menu h1 {
    font-size: 52px;
    color: #FFF;
    text-shadow: -4px 4px 0 #c0392b; 
    margin-bottom: 50px;
}

#main-menu button {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #FFF;
    text-shadow: -2px 2px 0 #000;
    border: 4px solid #000;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #27ae60; 
    transition: all 0.1s ease;
    
}

#main-menu button:hover {
    transform: scale(1.05);
    animation-play-state: paused; 
    filter: brightness(1.1);
}

.oculto {
    display: none ;
}

/* logica del modo imposible */

/*animacion que hacen los troncos al ir desapareciendo*/
@keyframes fade-out-tronco {
    0% {opacity: 1;}
    40%{opacity: 0;}
    80%{opacity: 0;}
    100%{opacity: 0;}
}

.tronco-container.modo-imposible-activo .tronco {
    animation: fade-out-tronco 8s linear;
}


#game-won {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);
    border:4px solid #FFD700 ;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);
    padding: 20px 40px;
    text-align: center;
    z-index: 115515000;
}

#game-won h2 {
    font-family: var(--font-family-primary);
    font-size: 48px;
    color:#27ae60 ;
    text-shadow: -3px 3px 0 #000;
    margin: 0 0 10px 0;
    padding: 0;
}

#game-won p {
    font-family: var(--font-family-primary);
    font-size: 24px;
    color: #FFF; 
    margin: 15px 0 25px 0;
    text-shadow: -2px 2px 0 #000;
}

#btn-restart-win {
    background-color: #27ae60; 
}

#btn-main-menu-win {
    background-color: #2980b9; 
}





